[Unit]
Description=neopixel-serial-bindicators for CSL CS463 reader
After=network.target

[Service]
WorkingDirectory=/home/reelyactive/neopixel-serial-bindicators/bin
ExecStart=/usr/local/bin/node neopixel-serial-bindicators
Restart=on-failure
User=reelyactive

[Install]
WantedBy=multi-user.target